.main{
    display: flex;
    justify-content: space-between;
}
.dash {
    width: 60vw !important;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .dash-child1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .dash-child2 {
        background: rgb(231, 165, 144);
        border-radius: 10px;
        padding: 30px;
        width: 50vw;

        div {
            color: rgb(52, 4, 6);
            font-size: 26px;
            font-weight: 800;
        }
    }
    .dash-child3 {
        display: flex;
        gap: 10px;
    }
    .dash-child4{
        display: flex;
        gap: 10px;
    }
}

.card {
    background: #fff;
    border-radius: 10px;
    padding: 10px;
}
p,h2{
    margin: 0;
}
.card2{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background: rgb(85, 85, 250);
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    .card2-child{
        padding: 5px;
    }
    p{
        font-size: 12px !important;
    }
    h2{
        font-size: 16px !important;
    }
}
td,th{
    padding: 5px 10px;
}
tr {
    border-bottom: 1px solid black;
}
.right-pannel{
    width:20vw !important;
    background: #fff;
    height: 100vh;
    .child1{
        display: flex;
        justify-content: space-between;
        align-self: center;
        padding: 50px 30px;
    }
    .child2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        div{
            height: 70px;
            width: 70px;
            border-radius: 50%;
            background: grey;
        }
    }
    .child3{
        display: flex;
        align-items: center;
        // justify-content: space-between;
        gap: 20px;
        padding: 20px;
        p{
            font-size: small;
        }
        h2{
            font-size: medium;
        }
        .bar{
            width: 100px;
            height: 10px;
            border-radius: 5px;
            background: rgb(226, 221, 221);
            div{
                width: 80px;
                height: 10px;
                border-radius: 5px;
                background: rgb(91, 91, 239);

            }
            .bar1{
                width: 40px;
                height: 10px;
                border-radius: 5px;
                background: rgb(91, 91, 239);

            }
        }
    }
}